#Proveedor {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 100%;
    border-color: #ccc;
}
@media (max-width: 768px){
    #tarjeta{
        margin-top: 150px;
    }
}